<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  
  
  <div class="row justify-space-between-md">
    <div>
      <h1  id="gameScore">Score: 0</h1>
      <hr>
      <h2 id="submittedWord"></h2>
      <p id="submittedWordDef"></p>
      <hr>
      <h2 id="gameValues"></h2>
      <form>
        <div>
          <label for="game">Game Text:</label>
          <input class="form-input" type="text" id="gameTextEntry" autocomplete="off"/>
          <button id="submitWord" type="button">Submit Word</button>
          
        </div>
        <div>
          <h2 id="letterPool"></h2>

        </div>

      </form>
    </div>
  </div>

  <script src="./js/gameLogic.js"></script>
</body>
