
  <div class="row justify-space-between-md">
    <div>
      <h1 id="gameScore">Score: 0</h1>
      <hr><br>
      <h2 id="submittedWord"></h2>
      <p id="submittedWordDef"></p>
      <p id="gameStatus"></p>
      <hr><br>
      <h2 id="gameValues"></h2>

      <div>
        <input class="input" type="text" id="gameTextEntry" autocomplete="off"/>
        <button id="submitWord" type="button" class="btn btn-primary btn-sm">Submit Word</button> <br>
        <h2 id="letterPool"></h2>
        <button id="newGame" type="button" class="btn btn-primary btn-lg">Start a New Game</button>
        <button id="submitScore" type="button" class="btn btn-outline-primary btn-lg">Submit Score</button>
          
      </div>
    </div>
  </div>
  <script src="./js/gameLogic.js"></script>