  
  <div >
   
    <div>
      <img src="images/avatar.png" alt="Work Logo" width="450" height="450" />
      <h1 id="gameScore">Score: 0</h1>
      <hr><br>
      <h2 id="submittedWord"></h2>
      <p id="submittedWordDef"></p>
      <p id="gameStatus"></p>
      <hr><br>
      <h2 id="gameValues"></h2>

      <div class="input-group mb-3">
       
        <input type="text" id="gameTextEntry" autocomplete="off" class="form-control" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="button" id="submitWord">Submit</button>
        </div>
        <h2 class="py-5" id="letterPool"></h2>

        <button id="newGame" type="button" class="btn btn-primary btn-lg">Start a New Game</button>
        <button id="submitScore" type="button" class="btn btn-outline-primary btn-lg">Submit Score</button><br><br>
        <p>INSTRUCTIONS:</p>
        <p>Creating words gives you points for each letter used.</p> 
        <p>Getting down to 3 or fewer letters will refill your letters up to 12.</p>
        <p>Completely using up all 12 letters will result in an additional +5 points.</p>
        <p><i>Hint: Don't submit the first word you find, but type it out and then look to the </i></p>
        <p><i>letters that remain to make you still have letters you can make words out of.</i></p>
        

      </div>
    </div>
  </div>
  <script src="./js/gameLogic.js"></script>