<div>
   <div>
   <img src="images/avatar.png" alt="Work Logo" width="450" height="450" /></div>
   <h1>If it's a word, it's a WORD.</h1>
   <p>I'm baby trust fund tumblr snackwave yuccie, fanny pack iceland pop-up biodiesel single-origin coffee blog
      activated charcoal. Chambray woke keffiyeh, subway tile migas hashtag brooklyn biodiesel.</p>

      <p class="py-4">Think you have a great vocabulary?  </p>
   <button id="play" class="btn btn-primary ">PROVE IT!</button>
   </div>

<script src="./js/routes.js"></script>
</div>



