<div>
   <div>
   <img src="images/avatar.png" alt="Work Logo" width="450" height="450" /></div>
   <h1>If it's a word, it's a WORD.</h1>
   <p>A single-player challenge game. Keep the string of words alive! You can stop reading now and go play. The rest is gibberish Ipsum. Who's Pippi Longstocking? Miss Stoeger, I would just like to say that physical education in this school is a disgrace. 
      Old people can be so sweet. Well at least I wouldn't skin a collie to make my back pack. Would you look at that body language? It's like a painting, see? From far away, it's OK, but up close, it's a big old mess.</p>

      <p class="py-4">Let's practice your vocabulary! Think you have a good strategic mind? </p>
   <button id="play" class="btn btn-primary ">PROVE IT!</button>
   </div>

<script src="./js/routes.js"></script>
</div>



