@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #5758ad;
    --secondary: #5758ad;
    --tertiary: #5758ad;
    --quatrinary: #5758ad;
    --light: #DCF238;
    --dark: rgb(63, 63, 63);
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  main {
    background-color: var(--primary);
  }

  h1 {
      color: var(--light);
  }

  h2 {
    font-size: 42px;
    color: rgb(218, 218, 218);
  }

  h4 {
    color: rgb(218, 218, 218);
  }
  
  p {
    color: rgb(218, 218, 218);
    font-size: 22px;
}

.btn-outline-primary {
    color: var(--light);
    border-color: var(--light);
}

.btn-outline-primary:hover {
  background-color: var(--light);
  color: var(--primary);
  border-color: var(--primary);
}

.btn-primary {
  color: var(--primary);
  background-color: #DCF238;
}

.btn-primary:hover {
  background-color: var(--primary);
  color: var(--light);
  border-color: var(--light)
}

  body {
    background-color: var(--primary);
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
    justify-content: right;
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--primary);
    background-color: var(--light);
  }
  
  .game {
    flex: 2;
    padding: 50px;
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* LAYOUT 
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

  /* Close button on hover 
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  } */
  
  